.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.dim {
  width: 150px;
  height: 150px;
  margin-left: 10%;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  background: black;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 10%;
  background: black;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid black;
}

#sidebar ul p {
  color: white;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.3em;
  display: block;

  &:hover {
    background: #fff;
    color: #585858;
  }
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: black;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: black;
}

.colordark {
  background: black;
}

.border-right {
  margin-left: 0%;
}

.border {
  border-right: 3px dotted black;
}

.dim-little {
  width: 10%;
  height: 10%;
}

.space {
  padding-top: 2%;
}

.main-container {
  margin-left: 250px;
}

@media (max-width: 767.98px) {
  .main-container {
    margin-left: 0;
  }
}

.title {
  margin-left: 20px;
}

.block-account {
  height: 100%;
  color: black;
}

#account:visited,
:link,
:hover,
:active {
  text-decoration: none;
}

.account-summary {
  padding: 20px 50px;
  margin: 15px;
  border: 3px black solid;
  border-radius: 10px;
  display: block;
}

.social-icons {
  margin-right: 20px;
  margin-bottom: 55px;
}

.white-icon {
  color: #fff;
}

.size-logo {
  height: 80%;
}

.fa-1x {
  font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
  cursor: pointer;
}

nav.navbar.fixed-top {
  height: 60px;
}

.dark-blue-text {
  color: rgb(245, 210, 10);
}

#content {
  margin-top: 60px;
}

/*Footer*/

footer {
  background-color: black;
  padding: 15px 0;
}

footer ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

footer a {
  text-decoration: none;
  color: white;
}

.icon-website {
  height: 30px;
}

.extra-login-register {
  text-decoration: underline;
}

#login {
  padding-bottom: 10.5%;
}

#confirm-password {
  padding-bottom: 16.1%;
  margin-top: 15%;
}

#password {
  padding-bottom: 14%;
  margin-top: 15%;
}

.distance-size {
  margin-top: 20px;
}

.button-admin {

  background-color: #e0e0e0;
  color: black;
  width: 250px;
  height: 80px;
  border-color: grey;
  box-shadow: 4px 4px 4px #585858;

}
/* Banner holding the image and the text*/
.banner {
  position: relative;
  text-align: center;
  color: black;
  }

/* Centered text */
.title-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.subtitle-centered{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.management{
  padding: 20px 25px;
  margin: 20px 5px 20px 10px;
  border: 3px black solid;
  border-radius: 10px;
  display: block;
}